* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    background-color: #E1D4C9;
    color: #403F3D;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

span {
    color: #B0907A;
    font-style: italic;
}

h2 {
    font-size: 60px;
    /* font-weight: 600; */
    line-height: 75px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    gap: 40px;
}

header p {
    /* font-size: 16px;
    font-weight: 600;
    line-height: 24px; */
}

header nav p:hover {
    border-bottom: 2px solid #403F3D;
}

header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

header .navigation:hover {
    border-bottom: 2px solid #403F3D;
}

header .navigation .icon {
    background-image: url('./img/coffee-cup.svg');
    width: 20px;
    height: 20px;
}

.preview {
    background-image: url(./img/img-hero.jpg);
    width: 100%;
    border-radius: 40px;
    background-position: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.preview h1 {
    font-size: 72px;
    /* font-weight: 600; */
    line-height: 75.6px;
    color: #E1D4C9;
    max-width: 530px;
}

.preview p {
    /* font-size: 16px; */
    font-weight: 400;
    /* line-height: 24px; */
    max-width: 530px;
    color: #E1D4C9;
}

.preview div button {
    display: block;
    width: 200px;
    height: 64px;
    background-color: #E1D4C9;
    border-radius: 100px;
    color: #403F3D;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.preview div button:hover::after {
    content: url(./img/coffee-cup.svg);
    font-size: 20px;
    vertical-align: middle;
}

.slider {
    display: flex;
    flex-direction: column;
}

.slider h2 {
    text-align: center;
}

.slider div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.slider div .coffee-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}

.slider div .coffee-content h3 {
    font-size: 24px;
    /* font-weight: 600; */
    line-height: 30px;
    text-align: center;
}

.slider div .coffee-content p {
    max-width: 480px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.slider div .coffee-content .price {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.slider div .border-arrow {
    border: 1px solid #665F55;
    border-radius: 50%;
    padding: 24px;
}


/* .slider div .border-arrow:hover {
    background-color: #665F55;
} */

.slider div.leftArrow {
    background-image: url(./img/arrow-left.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}


/* .slider div.leftArrow:hover {
    color: #E1D4C9
} */

.slider div .rightArrow {
    background-image: url(./img/arrow-right.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.benefits {
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.benefits h2 {
    text-align: justify;
}

.benefits .gallery {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.benefits .gallery div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.benefits .gallery img {
    border-radius: 20px;
    max-width: 660px;
}

.benefits .gallery-part-1 img:last-child,
.benefits .gallery-part-2 img:first-child {
    height: 430px;
    object-fit: cover;
}

.mobil-apps {
    display: flex;
    gap: 100px;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.links p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 630px;
}

.links .buttons {
    display: flex;
    gap: 20px;
}

.links .button {
    display: flex;
    align-items: center;
    gap: 3px;
    width: 200px;
    height: 64px;
    border: 1px solid #665F55;
    border-radius: 100px;
    padding: 12px 20px 12px 20px;
}


/* .buttons .button:hover {
    background-color: #665F55;
    color: #E1D4C9;
} */

.buttons .icon {
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
}

.button div:last-child {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.button div:last-child p:first-child {
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
}

.button div:last-child p:last-child {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.button-app .icon {
    background-image: url(./img/icon-app.svg);
    background-repeat: no-repeat;
}


/* .button-app .icon:hover {
    background-image: url(<svg width="36" height="36" viewBox="0 0 36 36" fill="none"  xmlns="http://www.w3.org/2000/svg">
 <path d="M26.7073 18.6307C26.6704 14.6324 30.065 12.6872 30.2203 12.5966C28.2977 9.86366 25.3178 9.49026 24.2707 9.46048C21.7679 9.20369 19.3403 10.9206 18.0654 10.9206C16.765 10.9206 14.8017 9.48529 12.6858 9.52747C9.96293 9.56841 7.41566 11.1055 6.0186 13.4923C3.13542 18.359 5.28572 25.5108 8.04802 29.4446C9.42981 31.3712 11.0444 33.5223 13.1578 33.4466C15.2254 33.3635 15.9978 32.1614 18.4929 32.1614C20.9651 32.1614 21.6903 33.4466 23.8457 33.3983C26.0647 33.3635 27.4618 31.463 28.7952 29.519C30.392 27.3108 31.0333 25.1362 31.0588 25.0245C31.0066 25.0071 26.7493 23.4229 26.7073 18.6307Z" fill="#E1D4C9"/> <path d="M22.6357 6.87268C23.7477 5.51675 24.5086 3.67205 24.2974 1.80005C22.6879 1.86952 20.675 2.88554 19.5159 4.21169C18.4903 5.38029 17.5742 7.29571 17.8109 9.097C19.6189 9.2285 21.4753 8.20752 22.6357 6.87268Z" fill="#E1D4C9"/> </svg>);
} */

.button-google .icon {
    background-image: url(./img/icon-google.svg);
    background-repeat: no-repeat;
}

.mobil-apps .mobile-screen {
    max-width: 630px;
}

footer {
    display: flex;
    gap: 100px;
    background-color: #665F55;
    border-radius: 40px;
    padding: 100px;
}

footer .networks {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 530px;
}

footer h2 {
    color: #E1D4C9;
}

.networks div {
    display: flex;
    gap: 12px;
    position: relative;
}

.social-links {
    border: 1px solid #C1B6AD;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.social-links:hover {
    background-color: #E1D4C9;
}

.link-twitter::before {
    content: "";
    display: block;
    background-image: url(./img/twitter.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 18px;
    left: 18px;
}

.link-instagram::before {
    content: "";
    display: block;
    background-image: url(./img/instagram.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 18px;
    left: 18px;
}

.link-facebook::before {
    content: "";
    display: block;
    background-image: url(./img/facebook.svg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 18px;
    left: 18px;
}

footer .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    color: #E1D4C9;
}

footer .contacts h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.contacts div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts div p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.contacts div div {
    display: flex;
    gap: 4px;
    flex-direction: row;
}

.contacts div div:hover {
    border-bottom: 2px solid #E1D4C9
}

.pin-alt {
    background-image: url(./img/pin-alt.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.phone {
    background-image: url(./img/phone.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.clock {
    background-image: url(./img/clock.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}